<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abdlpottytimer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.abdlpottytimer.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.abdlpottytimer.OutCome0"
            android:label="@string/title_activity_out_come0"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.abdlpottytimer.OutCome2"
            android:label="@string/title_activity_out_come2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.abdlpottytimer.OutCome3"
            android:label="@string/title_activity_out_come3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.abdlpottytimer.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
